/*
    Prioridade:
    id
    class
    tag
    ordem
*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#header .btn {
    background-color: rgb(84, 209, 84);
    font-size: 16px;
    border-radius: 30px;
    padding: 10px 30px;
}

#header .btn:hover {
    background-color: rgb(84, 180, 84);
}

#header nav a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

#header nav a:hover, #header nav a.active {
    background-color: rgba(84, 209, 84, 0.3);
}

#header h1 {
    font-size: 54px;
}

#header {
    background: #000 url("../images/background-header.jpg") no-repeat;
    background-size: cover;
    color: #ffffff;
    width: 100%;
    height: 660px;
    position: relative;
    padding-top: 30px;
}

#header a {
    color: #ffffff;
}

#header nav {
    text-align: right;
}

#header nav ul, #header nav ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#header .title {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
}