h2 {
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    font-size: 25px;
    margin: 10px 0 20px 0;
}

h2:after {
    content: '';
    display: block;
    background-color: rgb(130, 130, 130);
    margin: 5px auto 0 auto;
    width: 50px;
    height: 2px;
}

.subtitle {
    margin-bottom: 80px;
}

.text-left {
    text-align: left;
}
