@import url('../styles.css');

#header.page-equipe {
    background-image: url("../../images/background-equipe.jpg") ;
}

#team {
    background-color: #f3f0e7;
}

#team .img-box-round {
    width: 120px;
    height: 120px;
    border: 2px solid rgb(84, 209, 84);
}

#team .img-box-label:before {
    display: none;
}

#team .row:first-child {
    margin-bottom: 40px;
}